@font-face {
  font-family: "PT Sans-Narrow";
  src: url("../fonts/PTSans-Narrow.eot");
  src: url("../fonts/PTSans-Narrow.woff") format("woff"),
    url("../fonts/PTSans-Narrow.otf") format("opentype"),
    url("../fonts/PTSans-Narrow.ttf") format("truetype"),
    url("../fonts/PTSans-Narrow.svg") format("svg");
}

%font_type {
  color: $primary_variant;
  font-family: "PT Sans Narrow", Oxygen, Ubuntu, Cantarell, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.heading1 {
  @extend %font_type;
  font-size: calc(3rem + 1.5vw);
}
.heading2 {
  @extend %font_type;
  font-size: calc(2rem + 1.5vw);
}
.heading3 {
  @extend %font_type;
  font-size: calc(1.3rem + 1.5vw);
}
.heading4 {
  @extend %font_type;
  font-size: calc(0.7rem + 0.7vw);
  line-height: 32px;
}
.menu-heading {
  color: $secondary;
  font-family: "PT Sans Narrow";
  font-weight: 700;
  letter-spacing: 2px;
  font-size: calc(2rem + 1.5vw);
  text-transform: uppercase;
  margin-bottom: 45px;
}
.text {
  color: $primary;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: calc(0.5rem + 0.6vw);
  letter-spacing: 1.4px;
  font-weight: lighter;
}
