<hr />
<div class="pizza-container">
  <img src="./assets/img/logo.png" alt="Pizzitalia" />
  <div class="row text-center">
    <div class="col">
      <h4 class="heading4" onclick="window.location.href='#title_section'">
        Home
      </h4>
    </div>
    <div class="col">
      <h4 class="heading4" onclick="window.location.href='#menu_section'">
        Menu
      </h4>
    </div>
    <div class="col">
      <h4 class="heading4" onclick="window.location.href='#location_section'">
        Locations
      </h4>
    </div>
    <div class="col">
      <h4 class="heading4" onclick="window.location.href='#welcome_section'">
        About
      </h4>
    </div>
    <div class="col">
      <h4 class="heading4" onclick="window.location.href='#location_section'">
        Contacts
      </h4>
    </div>
  </div>
  <p class="text">Copyright © 2021 Pizzitalia. All Rights Reserved.</p>
</div>
