<div class="row text-center d-flex align-items-center justify-items-center">
  <div
    class="col trust-div"
    data-aos="zoom-in"
    data-aos-duration="700"
    data-aos-easing="ease"
  >
    <img src="./assets/img/icon1.png" alt="Sustainable Food" class="mb-3" />
    <h4 class="heading4">Sustainable Food</h4>
    <p class="text">
      Fresh ingredients, regionally sourced with environmental awareness.
    </p>
  </div>
  <div
    class="col trust-div"
    data-aos-delay="200"
    data-aos="zoom-in"
    data-aos-duration="700"
    data-aos-easing="ease"
  >
    <img
      src="./assets/img/icon2.png"
      alt="Fast Delivery"
      class="mb-3 pizza-icon"
    />
    <h4 class="heading4">Original Recipes</h4>
    <p class="text">
      The perfect combination of creativity, atmosphere and mind blowing tastes.
    </p>
  </div>
  <div
    class="col trust-div"
    data-aos-delay="300"
    data-aos="zoom-in"
    data-aos-duration="700"
    data-aos-easing="ease"
  >
    <img
      src="./assets/img/icon3.png"
      alt="Original Recipes"
      class="deliver-icon"
    />
    <h4 class="heading4">Fast Delivery</h4>
    <p class="text">
      We deliver faster than Usan Bolt and Muhammad Ali together!
    </p>
  </div>
</div>
