<div class="row welcome-div text-center">
  <div
    class="col-md-12 col-lg-6 justify-content-center"
    data-aos="zoom-in-right"
    data-aos-duration="700"
    data-aos-easing="ease"
  >
    <h3 class="heading3">WELCOME TO PIZZITALIA</h3>
    <p class="heading4 primary_variant mt-5">
      PIZZITALIA OFFERS AN EXPERIENCE UNLIKE ANYTHING YOU'VE SEEN BEFORE.
      HANDCRAFTED, DELICIOUS FOOD AND A WIDE SELECTION OF CRAFT BEERS AND
      REGIONAL WINE IN A COMFORTABLE, CASUAL ATMOSPHERE. GRAB A BITE TO GO OR
      OPEN A BOTTLE OF WINE AND STAY A WHILE.
    </p>
    <div class="text-center my-4">
      <img src="./assets/img/separator.png" alt="" class="img-fluid w-25" />
    </div>
    <p class="text">
      The secret behind our unique dining experience is one of vision. A vision
      formed by our owner and amazing chef — created to bring you an event
      you’ll never forget.
    </p>
  </div>

  <div
    class="col-md-12 col-lg-6"
    data-aos="zoom-in-left"
    data-aos-delay="200"
    data-aos-duration="700"
    data-aos-easing="ease"
  >
    <img
      src="https://images.unsplash.com/photo-1428895009712-de9e58a18409?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
      alt=""
      class="img-fluid"
    />
  </div>
</div>
